@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
}

@layer components {
    /* todo components */
    .card--marketer{
        border: solid 0.5px gray;
        border-radius: 15px;
    }
    .card-header-h2{
        color: var(--secondary);
        font-size: 2em;
        font-weight: bold;
    }
    .card-header-primary-text{
        color: var(--primary);
        font-weight: bold;
    }
    .card-body-bigger{
        color: var(--primary);
        font-size: 1.5em;
        font-weight: bold;
    }
    .card-body-link{
        color: var(--primary);
        font-weight: bold;
    }
    .card__body{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .card-body-button{
        display: block;
        background-color: var(--primary);
        color: white;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        padding: 1em 2em;
        border-radius: 10px;
        margin-top: 2em;
    }
    .card-footer-bold{
        color: var(--primary);
        font-weight: bold;
    }
    .card__feature-item{
        padding: 0.5em;
        margin: 0;
        text-wrap: nowrap;
    }
    .card__feature-item-check{
        list-style-image: url(../images/check.svg);
    }
    .card__feature-item-cross{
        list-style-image: url(../images/cross.svg);
    }
}